{% extends 'base.html' %}
{% block title %} Результат обучения {% endblock %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="row">
      <div>
        Параметры модели:
        {% for param in params %}
        <span class="mx-2">
          {{param}};
        </span>
        {% endfor %}
      </div>
			<div class="main-form">
        <div>
          График обучения моделей
          <div class="chart">
            <canvas id="myChart" width="400" height="200"></canvas>
          </div>
        </div>
        <div>
          График обучения моделей (кросс-валидация среднее значение и стандратное отклонение)
          <div class="chart">
            <canvas id="1" width="400" height="200"></canvas>
          </div>
        </div>
			</div>

      <div class="main-form">
        <div>
          График функции потерь на тесте
          <div class="chart">
            <canvas id="myChart2" width="400" height="200"></canvas>
          </div>
        </div>
        <div>
          График функции потерь на тесте (кросс-валидация среднее значение и стандратное отклонение)
          <div class="chart">
            <canvas id="2" width="400" height="200"></canvas>
          </div>
        </div>
			</div>

      <div class="d-flex">
        <div class="m-3">
          <div>
            Prediction values change
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="first_col" scope="col">Признаки</th>
                <th scope="col">Важность без CV</th>
                <th scope="col">Важность с CV</th>
              </tr>
            </thead>
            <tbody>
              {% for line in table %}
              <tr>
                <td name='title'>{{line.0}}</td>
                <td>
                  {{ line.1 }}
                </td>
                <td>
                  {{ line.2 }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="m-3">
          <div>
            Loss function change
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="first_col" scope="col">Признаки</th>
                <th scope="col">Важность без CV</th>
                <th scope="col">Важность с CV</th>
              </tr>
            </thead>
            <tbody>
              {% for line in table2 %}
              <tr>
                <td name='title'>{{line.0}}</td>
                <td>
                  {{ line.1 }}
                </td>
                <td>
                  {{ line.2 }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="m-3">
          <div>
            SHAP importance
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="first_col" scope="col">Признаки</th>
                <th scope="col">Важность без CV</th>
                <th scope="col">Важность с CV</th>
              </tr>
            </thead>
            <tbody>
              {% for line in table3 %}
              <tr>
                <td name='title'>{{line.0}}</td>
                <td>
                  {{ line.1 }}
                </td>
                <td>
                  {{ line.2 }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="d-flex mt-4">
        <div class="image">
          <div>
            Shap без CV
          </div>
          <div>
            <img src={{path}} height='100%' />
          </div>
        </div>
        <div class="image">
          <div>
            Shap c CV
          </div>
          <div>
            <img src={{path_cv}} height='100%' />
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse mt-4">
        <a href='/models/' class="link-dark">Закрыть</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      const template = (id) => `<div class="chart"><canvas id="${id}" width="400" height="200"></canvas></div>`
      const graphDataLearnJson = "{{graph_data_learn}}";
      console.log(graphDataLearnJson);
      const graphDataLearn = JSON.parse(graphDataLearnJson)

      const graphDataLearnJsonCvs = "{{cvs_learn}}"
      const graphDataLearnCvs = JSON.parse(graphDataLearnJsonCvs)

      const cvsMeanLearnJson = "{{cvs_mean_learn}}"
      const cvsMeanLearn = JSON.parse(cvsMeanLearnJson)


      const labels = []
      const dataset = []

      for (const item of graphDataLearn) {
        labels.push(item[0]);
        dataset.push(item[1]);
      }

      const data = {
        labels: labels,
        datasets: [{
          label: 'LogLoss',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: dataset,
        }]
      }

      const dataCopy = JSON.parse(JSON.stringify(data))

      const config = {
        type: 'line',
        data,
        options: {
          maintainAspectRatio: false,
          responsive: true,
          interaction: {
            mode: 'index',
            intersect: false,
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        }
      };

      for (let i = 0; i < graphDataLearnCvs.length; i++) {
        const cv = graphDataLearnCvs[i];

        const datasetCv = []
        for (const item of cv) {
          datasetCv.push(item[1]);
        }

        data.datasets.push({
          label: `LogLoss ${i}`,
          backgroundColor: 'rgb(50,205,50)',
          borderColor: 'rgb(50,205,50)',
          data: datasetCv,
        })
      }

      const mean = []
      const meanLess = []
      const meanMore = []

      if (cvsMeanLearn.length > 0) {
        for (const item of cvsMeanLearn) {
          mean.push(item[1])
          meanLess.push(item[1] - item[2])
          meanMore.push(item[1] + item[2])
        }

        dataCopy.datasets.push({
          label: 'Mean',
          backgroundColor: 'rgb(0,100,0)',
          borderColor: 'rgb(0,100,0)',
          data: mean,
          pointRadius: 0.1,
        })

        dataCopy.datasets.push({
          label: 'Mean less',
          backgroundColor: 'rgb(50,205,50)',
          borderColor: 'rgb(50,205,50)',
          data: meanLess,
          pointRadius: 0.1,
        })

        dataCopy.datasets.push({
          label: 'Mean more',
          backgroundColor: 'rgba(50,205,50, 0.5)',
          borderColor: 'rgb(50,205,50)',
          data: meanMore,
          fill: '-1',
          pointRadius: 0.1,
        })

        const copyConfig = {
          type: 'line',
          data: dataCopy,
          options: {
            maintainAspectRatio: false,
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false,
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          }
        };
        console.log(copyConfig)
        const newChart = new Chart(
          document.getElementById('1'),
          copyConfig
        );
      }

      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      const graphDataTestJson = "{{graph_data_test}}";
      const graphDataTest = JSON.parse(graphDataTestJson)

      const graphDataTestJsonCvs = "{{cvs_test}}"
      const graphDataTestCvs = JSON.parse(graphDataTestJsonCvs)

      const cvsMeanTestJson = "{{cvs_mean_test}}"
      const cvsMeanTest = JSON.parse(cvsMeanTestJson)


      const datasetTest = []

      for (const item of graphDataTest) {
        datasetTest.push(item[1]);
      }

      const dataTest = {
        labels: labels,
        datasets: [{
          label: 'LogLoss',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: datasetTest,
        }]
      }

      const dataTestCopy = JSON.parse(JSON.stringify(dataTest))


      for (let i = 0; i < graphDataTestCvs.length; i++) {
        const cv = graphDataTestCvs[i];

        const datasetCv = []
        for (const item of cv) {
          datasetCv.push(item[1]);
        }

        dataTest.datasets.push({
          label: `LogLoss ${i}`,
          backgroundColor: 'rgb(50,205,50)',
          borderColor: 'rgb(50,205,50)',
          data: datasetCv,
        })
      }

      const meanTest = []
      const meanTestLess = []
      const meanTestMore = []

      if (cvsMeanTest.length > 0) {
        for (const item of cvsMeanTest) {
          meanTest.push(item[1])
          meanTestLess.push(item[1] - item[2])
          meanTestMore.push(item[1] + item[2])
        }

        dataTestCopy.datasets.push({
          label: 'MeanTest',
          backgroundColor: 'rgb(0,100,0)',
          borderColor: 'rgb(0,100,0)',
          data: meanTest,
          pointRadius: 0.1,
        })

        dataTestCopy.datasets.push({
          label: 'MeanTest less',
          backgroundColor: 'rgb(50,205,50)',
          borderColor: 'rgb(50,205,50)',
          data: meanTestLess,
          pointRadius: 0.1,
        })

        dataTestCopy.datasets.push({
          label: 'MeanTest more',
          backgroundColor: 'rgba(50,205,50, 0.5)',
          borderColor: 'rgb(50,205,50)',
          data: meanTestMore,
          fill: '-1',
          pointRadius: 0.1,
        })

        const copyConfig = {
          type: 'line',
          data: dataTestCopy,
          options: {
            maintainAspectRatio: false,
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false,
            },
            plugins: {
              legend: {
                display: false,
              },
            },
          }
        };
        const newChart = new Chart(
          document.getElementById('2'),
          copyConfig
        );
      }

      const configTest = {
        type: 'line',
        data: dataTest,
        options: {
          maintainAspectRatio: false,
          responsive: true,
          interaction: {
            mode: 'index',
            intersect: false,
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        }
      };

      new Chart(
        document.getElementById('myChart2'),
        configTest
      );
   </script>
   <style>
     .chart {
       height: 600px;
       width: 90%;
     }

     .main-form {
       display: flex;
     }

     .main-form > div {
       flex: 1;
     }

     .first_col {
        width: 15rem;
      }
   </style>
</div>
{% endblock %}
