{% extends 'base.html' %}
{% block title %} Результат обучения {% endblock %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="row">
			<div class="main-form">
        {{ msg }}
        <div class="chart">
          <canvas id="myChart" width="400" height="200"></canvas>
        </div>
			</div>
      <div class="d-flex flex-row-reverse mt-4">
        <a href='/models/' class="link-dark">Закрыть</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      const graphDataJson = "{{graph_data_learn}}";
      console.log(graphDataJson)
      const graphData = JSON.parse(graphDataJson)

      const graphDataTestJson = "{{graph_test_learn}}";
      console.log(graphDataTestJson)
      const graphDataTest = JSON.parse(graphDataTestJson)


      const labels = []
      const dataset = []
      const datasetTest = []

      for (const item of graphData) {
        labels.push(item[0]);
        dataset.push(item[1]);
      }

      for (const item of graphDataTest) {
        datasetTest.push(item[1]);
      }

      const data = {
        labels: labels,
        datasets: [{
          label: 'LogLoss Train',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: dataset,
        },{
          label: 'LogLoss Test',
          backgroundColor: 'rgb(0,100,0)',
          borderColor: 'rgb(0,100,0)',
          data: datasetTest,
        }]
      }


      const config = {
        type: 'line',
        data,
        options: {
          maintainAspectRatio: false,
          responsive: true,
          interaction: {
            mode: 'index',
            intersect: false,
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        }
      };

      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
   </script>
   <style>
     .chart {
       height: 600px;
       width: 90%;
     }
   </style>
</div>
{% endblock %}
