{% extends 'base.html' %}
{% block title %} Зависимость качества модели от параметров обучения {% endblock %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="row">
      Зависимость качества модели от числа итераций (деревьев)
			<div class="main-form charts">
        <div class="chart-wrapper">
          Train
          <div class="chart">
            <canvas id="myChart1" width="400" height="200"></canvas>
          </div>
        </div>

        <div class="chart-wrapper">
          Validation
          <div class="chart">
            <canvas id="myChart2" width="400" height="200"></canvas>
          </div>
        </div>
			</div>
    </div>

    <div class="row">
      Зависимость качества модели от коэффициента скорости обучения
			<div class="main-form charts">
        <div class="chart-wrapper">
          Train
          <div class="chart">
            <canvas id="myChart3" width="400" height="200"></canvas>
          </div>
        </div>

        <div class="chart-wrapper">
          Validation
          <div class="chart">
            <canvas id="myChart4" width="400" height="200"></canvas>
          </div>
        </div>
			</div>
    </div>

    <div class="row">
      Зависимость качества модели от l2_leaf_reg (L2 регуляризация)
			<div class="main-form charts">
        <div class="chart-wrapper">
          Train
          <div class="chart">
            <canvas id="myChart5" width="400" height="200"></canvas>
          </div>
        </div>

        <div class="chart-wrapper">
          Validation
          <div class="chart">
            <canvas id="myChart6" width="400" height="200"></canvas>
          </div>
        </div>
			</div>
    </div>

    <div class="row">
      Зависимость качества модели от random_strength (множитель дисперсии позволяющий добавить случайность выбора сплита)
			<div class="main-form charts">
        <div class="chart-wrapper">
          Train
          <div class="chart">
            <canvas id="myChart7" width="400" height="200"></canvas>
          </div>
        </div>

        <div class="chart-wrapper">
          Validation
          <div class="chart">
            <canvas id="myChart8" width="400" height="200"></canvas>
          </div>
        </div>
			</div>
    </div>

    <div class="row">

      Зависимость качества модели от rsm (доля признаков, используемых при каждом разделенном выборе, когда признаки снова выбираются случайным образом)
			<div class="main-form charts">
        <div class="chart-wrapper">
          Train
          <div class="chart">
            <canvas id="myChart9" width="400" height="200"></canvas>
          </div>
        </div>

        <div class="chart-wrapper">
          Validation
          <div class="chart">
            <canvas id="myChart10" width="400" height="200"></canvas>
          </div>
        </div>
			</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      function makeChart(iter, labelKey, graphData) {
        const labels = []
        const dataset = []
        const dataset1 = [];
        const dataset2 = [];

        let index = 0;
        for (const i in graphData[labelKey]) {
          if (labelKey === 'learning_rate' && index % 5 !== 0) {
            index++
            continue;
          }
          const label = graphData[labelKey][i]
          labels.push(label)
          dataset.push(graphData.precision[i])
          dataset1.push(graphData['recall'][i])
          dataset2.push(graphData['f1'][i])
          index++
        }


        const data = {
          labels: labels,
          datasets: [{
            label: 'Precision',
            backgroundColor: 'rgb(48, 103, 84)',
            borderColor: 'rgb(48, 103, 84)',
            data: dataset,
          }, {
            label: 'Recall',
            backgroundColor: 'rgb(150, 99, 38)',
            borderColor: 'rgb(150, 99, 38)',
            data: dataset1,
          }, {
            label: 'F-measure',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: dataset2,
          }]
        }


        const config = {
          type: 'line',
          data,
          options: {
            maintainAspectRatio: false,
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false,
            },
          }
        };


        const myChart = new Chart(
          document.getElementById(`myChart${iter + 1}`),
          config
        );
      }

      const graphDataJson = "{{graph_data}}";
      const graphData = JSON.parse(graphDataJson.replace(/&quot;/g,'"'))

      const graphDataJson2 = "{{graph_data2}}";
      const graphData2 = JSON.parse(graphDataJson2.replace(/&quot;/g,'"'))

      makeChart(0, 'iterations', graphData)
      makeChart(1, 'iterations', graphData2)

      const graphDataJson3 = "{{graph_data5}}";
      const graphData3 = JSON.parse(graphDataJson3.replace(/&quot;/g,'"'))

      const graphDataJson4 = "{{graph_data6}}";
      const graphData4 = JSON.parse(graphDataJson4.replace(/&quot;/g,'"'))

      makeChart(2, 'l2_leaf_reg', graphData3)
      makeChart(3, 'l2_leaf_reg', graphData4)

      const graphDataJson5 = "{{graph_data3}}";
      const graphData5 = JSON.parse(graphDataJson5.replace(/&quot;/g,'"'))

      const graphDataJson6 = "{{graph_data4}}";
      const graphData6 = JSON.parse(graphDataJson6.replace(/&quot;/g,'"'))

      makeChart(4, 'learning_rate', graphData5)
      makeChart(5, 'learning_rate', graphData6)

      const graphDataJson7 = "{{graph_data7}}";
      const graphData7 = JSON.parse(graphDataJson7.replace(/&quot;/g,'"'))

      const graphDataJson8 = "{{graph_data8}}";
      const graphData8 = JSON.parse(graphDataJson8.replace(/&quot;/g,'"'))

      makeChart(6, 'random_strength', graphData7)
      makeChart(7, 'random_strength', graphData8)

      const graphDataJson9 = "{{graph_data9}}";
      const graphData9 = JSON.parse(graphDataJson9.replace(/&quot;/g,'"'))

      const graphDataJson10 = "{{graph_data10}}";
      const graphData10 = JSON.parse(graphDataJson10.replace(/&quot;/g,'"'))

      makeChart(8, 'rsm', graphData9)
      makeChart(9, 'rsm', graphData10)
   </script>
   <style>
     .chart {
       height: 600px;
       width: 90%;
     }

     .charts {
       display: flex;
     }

     .chart-wrapper {
       flex: 1 1 auto;
     }
   </style>
</div>
{% endblock %}
