{% extends 'base.html' %}
{% block title %} Результаты {% endblock %}
{% block content %}
{% csrf_token %}
<div>
  <div>
  Объект отнесен к {{class}} классу
  </div>
  <div>
  Вероятность принадлежности к классу 0 - {{probability.0}}
  </div>
  <div>
  Вероятность принадлежности к классу 1 - {{probability.1}}
  </div>
  <div>
  Сумма значений в терминальных листах (куда попал объект) - {{raw}}
  </div>
  <div>
    <iframe height="200px" width="100%" src="{{path}}"></iframe>

    <iframe height="350px" width="100%" src="{{path2}}"></iframe>

    Деревья вносящие наибольший вклад в предсказания: {{important_trees}}

    <form>
      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">Номер дерева</span>
        <input type="text" class="form-control" placeholder="Номер дерева" aria-label="Номер дерева" aria-describedby="addon-wrapping" name="tree">
      </div>
      <div class="input-group flex-nowrap">
        <button type="submit" class="btn btn-outline-secondary">Загрузка</button>
      </div>
    </form>
    <div id="tree" class="mt-3">
    </div>
    <script>
      const form = document.querySelector('form')
      const tree = document.querySelector('#tree')

      let valueFields = "{{value_fields}}"

      valueFields = valueFields.replace(/&quot;/g,'"')

      const treeShowCreator = ({ path, class: class1, probability, raw, table }) => {
        tree.innerHTML = "";
        const classDiv = document.createElement('div');
        classDiv.innerText = `Объект отнесен к ${class1} классу`;

        const probability1Div = document.createElement('div');
        probability1Div.innerText = `Вероятность принадлежности к классу 0 - ${probability[0]}`;

        const probability2Div = document.createElement('div');
        probability2Div.innerText = `Вероятность принадлежности к классу 1 - ${probability[1]}`;

        const rawDiv = document.createElement('div');
        rawDiv.innerText = `Сумма значений в терминальных листах (куда попал объект) - ${raw}`;

        const imageDiv = document.createElement('div');
        imageDiv.classList.add('image')
        const image = document.createElement('img');
        image.setAttribute('src', path);
        image.setAttribute('height', '100%')
        image.addEventListener('load', () => {
          image.scrollIntoView({behavior: 'smooth'})
        })

        table2 = JSON.parse(table);

        const tableTag = document.createElement('table');

        tableTag.classList.add('table')

        const thead = document.createElement('thead');
        const trHead = document.createElement('tr');

        const th1 = document.createElement('th');
        th1.innerText = 'Признак'

        const th2 = document.createElement('th');
        th2.innerText = 'Важность'

        trHead.appendChild(th1);
        trHead.appendChild(th2);

        thead.appendChild(trHead)

        tableTag.appendChild(thead);

        const tbody = document.createElement('tbody');

        for (const [value, name] of table2) {
          const tr = document.createElement('tr')
          tr.innerHTML = `
            <td>${value}</td>
            <td>${name}</td>`
          tbody.appendChild(tr);
        }

        tableTag.appendChild(tbody)


        imageDiv.appendChild(image)
        tree.appendChild(tableTag);
        tree.appendChild(classDiv);
        tree.appendChild(probability1Div);
        tree.appendChild(probability2Div);
        tree.appendChild(rawDiv);
        tree.appendChild(imageDiv);
      }

      form.addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(form);

        const tree = formData.get('tree')
        const id = window.location.pathname.split('/')[2]
        fetch(`/models/tree/${id}?tree=${tree}&valueFields=${valueFields}`)
        .then(res => res.json())
        .then(treeShowCreator)
      })

    </script>
  </div>
  <style>
    .image {
      overflow-x: auto;
    }

    .table {
      max-width: 400px;
    }
  </style>
</div>
{% endblock %}
